html,
body {
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    overscroll-behavior: none;
    @apply h-screen overflow-hidden antialiased leading-tight text-gray-900;
}

:focus {
    outline: none;
}

h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}
a {
    @apply text-blue-600 underline;
}

#main-nav {
    & a.active {
        @apply bg-gray-100;
    }

    & a:hover {
        @apply bg-gray-50;
    }
}
