.content-overlay {
    @apply absolute inset-0 w-full h-full;
    background-color: rgba(244, 245, 247, 0.5);
    transition: opacity 300ms ease-in-out;
    opacity: 0;

    &.is-open {
        opacity: 1;
        & .content-overlay-content {
            transform: translateX(0);
            opacity: 1;
        }
    }

    & .content-overlay-content {
        @apply absolute right-0 h-full bg-white shadow-md;
        transition: transform 300ms ease-in-out, opacity 200ms ease-in-out;
        transform: translateX(100%);
        opacity: 0;
        & .overlay-inner-content {
            @apply h-screen;
        }
    }
}

[data-theme='dark'] .content-overlay {
    background-color: rgba(38, 47, 63, 0.7);
    & .content-overlay-content {
        @apply bg-gray-800 border-l border-gray-900 shadow-dark-overlay-gray;
    }
}
